.App {
  height:100vh;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  display:flex;
  background:#444;
}

.App nav{
  background:#222;
  width:10%;
  height:100%;
  vertical-align:top;
}

.App .mainDisplay{
  width:90%;
}

.App nav button{
  padding:10px;
  width:100%;
  border:none;
  margin:0;
  background:transparent;
  outline:none;
}

.App nav button.selected{
  background:#444;
}

.App nav button svg fill{
  fill:#BBB;
}
h3{
  margin:8px 0;
}

.panelContainer{
  flex:1 0;
  display:flex;
}

.panel{
  box-sizing: border-box;
  background:#666;
  padding:10px;
  margin:10px;
}

.panel.full{
  width:100%;
  flex: 1 0;
  overflow:auto;
}

.panel.half{
  flex: 1 0;
}

.panel h2{
  margin:0 0 10px;
  font-size:250%;
  color:#EEE;
}

.panel h3{
  color:#CCC;
}

.panel p{
  color:#CCC;
}

.panel.half{
  margin:10px 10px 10px 5px;
}

.panel.half:first-child{
  margin:10px 5px 10px 10px;
}

button{
  padding:10px;
  flex: 1 1;
  background:#0A0;
  border:none;
  border-bottom:3px solid #080;
  color:#FFF;
  font-weight: bold;
  font-size:150%;
}

button.deselected{
  background:#AAA;
}

button:active{
  background:#080;
  border-bottom:3px solid #060;
}

button:disabled{
  background:#AAA;
}

.heatingPanel{
  display:flex;
  flex-direction:column;
}

.heatingPanel > *{
  flex: 1 0;
}

.heatingPanel > h2, .heatingPanel > h3{
  flex: 0 0;
}

.heatingPanel > .temperatureDisplay{
  flex: 1 0;
}

.heatingPanel > .thermalStore{
  flex: 4 0;
}

@media screen and ( max-height: 400px ){
  body{
    font-size:60%;
  }
}

