.electricityDisplay{
  display:flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.displayBox{
  flex: 2 1 auto;
  text-align: center;
  background: #888;
  padding:5px;
}

.panel .displayBox h3{
  font-size:170%;
  color:#333;
}

.displayBox span{
  font-size:300%;
  color:#444;
}

.arrow{
  flex: 2 0 auto;
  text-align:center;
  position:relative;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.electricityPanel{
  display: flex;
  flex-direction: column;
}

.electricityPanel h2{
  flex: 0 0;
}

.electricityPanel < div{
  flex: 1 0 100%;
}