.temperatureDisplay{
  background:#888;
  padding:0;
  margin:6px 0;
  color:#FFF;
  position:relative;
}

.temperatureDisplay.on{
  background:#82A282;
}

.temperatureDisplay h4{
  text-align:right;
  margin:0;
  padding:5px;
}

.temperatureDisplay svg{
  position:absolute;
  top: 5px;
  left:10px;
  height:90%;
  max-height:100%;
  max-width:100%;
}

.temperatureDisplay svg tspan{
  fill:#333;
}

.temperatureDisplay svg tspan.subText{
  fill:#444;
}

