.temperatureDisplay{
  display:flex;
  background:#888;
  padding:0;
  margin:6px 0;
  color:#FFF;
}

.temperatureDisplay > *{
  font-size:150%;
  padding:10px 5px;
  flex: 1 1;
  display:block;
  vertical-align:center;
}

.temperatureDisplay span:first-child{
  text-align:right;
}

.temperatureDisplay span.heating-state-on:first-child{
  color:#0A0;
  font-weight:bold;
}
