.thermalStore .diagram{
  height: 100%;
  overflow:hidden;
}
.thermalStore .diagram p{
  margin:5px;
  font-size:150%;
  color:#FFF;
  text-align:center;
}
.thermalStore .diagram p:first-child, .thermalStore .diagram p:last-child{
  font-size:200%;
}
.thermalStore .diagram{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
