.thermalStore .diagram{
  height: 100%;
  overflow:hidden;
}
.thermalStore .diagram p{
  margin:5px;
  font-size:24px;
  color:#FFF;
  text-align:center;
}
.thermalStore .diagram{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
